.wrapper {
	display: flex;
    height: 100%;
}
.container {
    align-self: flex-end;
    position: relative;
	display: flex;
	flex-direction: column;
    padding: 8px;
    width: calc(100% - 66px);
    margin: 0 0 0 50px;
}

p {
	word-spacing: 1px;
	font-size: 18px;
}

.jump-wrapper {
    position: fixed;
	display: flex;
    height: 100%;
    background-color: #82ac85;
    justify-content: space-evenly;
    margin: 0;
    align-items: center;
	flex-direction: column;
    width: 60px;
	left: 0;
	top:0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.jumper {
	color: black;
	text-decoration: none;
}

#jump-about {
    position: absolute;
	bottom: 145px;
	left: 130px;
	white-space: nowrap;
}

.logo-container{
    position: relative;
    width: 200px;
    height: 200px;
}

.box1 {
    position: absolute;
	width: 120px;
	height: 100px;
	background-color: #82ac85;
	z-index: 1;
	left: 70px;
}

.box2 {
	position: absolute;
	width: 120px;
	height: 100px;
	background-color: gray;
	z-index: 1;
	top: 40px;
	left: 125px;
}

.about-d {
	text-align: center;
	margin-top: 50px;
	z-index: 5;
}

.head-wrap {
	z-index: 3;
	position: absolute;
}

.hea-p-flex {
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 30px 15px 30px 15px;
}

.hea-p-flex-end {
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
	margin: 30px 15px 30px 15px
}

#jump-edu {
	right: 60px;
	bottom:	145px;
}

.box3 {
	width: 120px;
	height: 110px;
	background-color: #82ac85;
	z-index: 1;
	top: 10px;
	bottom: 35px;
}

.box4 {
	width: 120px;
	height: 110px;
	background-color: gray;
	z-index: 2;
	position: relative;
	bottom: 65px;
	right: 70px;
}

.about-d-2 {
	text-align: center;
	margin-top: 50px;

}

h3 {
	font-size: 23px;
}

h6 {
	font-size: 20px;
	color: gray;
	margin: 25px 0px 25px 0px;
}

.exp-img-wrap{
	display: flex;
	justify-content: center;
}

.exp-img {
	border: 5px solid gray;
	width: 100px;
	height: 100px;
}

.about-d-3{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 50px;
}

#jump-exp{
	right: 60px;
	bottom:	145px;
}

#jump-med {
	bottom: 135px;
	right: 20px;
}

.box5{
	width: 120px;
	height: 100px;
	background-color: gray;
	z-index: 2;
	position: absolute;
	bottom: 3rem;
	left: 120px;
}
.box6{
	position: absolute;
	width: 120px;
	height: 100px;
	background-color: #82ac85;
	z-index: 1;
	bottom: 90px;
	left: 55px;
}

.med-icon{
	display: flex;
	flex-direction: row;
}

.med-icon:hover{
	cursor: pointer;
}

.med-img{
	margin: 10px;
	width: 50px;
	height: 50px;
}

.about-d-4 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 300px; 
}
.media-div{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}


/* ------------------- Recommendation Div --------------------- */

.recom-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}

.recom-card{
	margin: 50px;
	width: 300px;
	height: 400px;
	background-color: #f6f6eb;
	box-shadow: 20px 20px 50px grey;
}

.recom-card * {
	display: flex;
	justify-content: center;
	margin: 15px 10px 5px 15px;
	text-align: center;
}

.recom-img{
	border-radius: 50%;
}

.recom-work{
	width: 50px;
	height: 50px;
	position: relative;
}



.recom-img{
	width: 80px;
	height: 100px;
}

.recom-card:hover{
	transition: .5s;
	box-shadow: 20px 20px 50px 15px grey;
}


/* -------------------Skill Bar---------------- */

.skill-wrapper {
	margin: 50px 5px 50px 5px;
}

.skills {
	height: 14px;
    border-radius: 20px;
}

.skill-back {
	height: 14px;
	background-color: #f6f6eb;
    border-radius: 20px;
}

.javas {
	width: 65%;
	background-color: #bfd1d0;
}

.s-css {
	width: 80%;
	background-color: #c2a2c2;
}

.node {
	width: 40%;
	background-color: #a4d4dc;
}

.jquery {
	width: 60%;
	background-color: #f5d5cb;
}

.react {
	width: 80%;
	background-color: #f3f3ab;
}

/* -------------------------------------------- */


.download-wrap{
	margin: 100px 5px 30px 5px;
	display: flex;
	justify-content: center;
}

.download-txt{
	display: flex;
	justify-content: center;
}


/* Footer */

footer {
	display: flex;
	justify-content: space-between;
}

footer img {
	margin: 15px 0px 0px 40px;
}

.foot-lnk {
	margin: 50px 100px 0px 5px;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		display: flex;
		height: 100%;
	}
	.container {
		align-self: flex-end;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 8px;
		width: 100%;
		margin: 0 0 0 50px;
	}
	
	p {
		word-spacing: 1px;
		font-size: 18px;
	}
	
	.jump-wrapper {
		flex: 1 0 10%;
		position: fixed;
		display: flex;
		height: 100%;
		background-color: #82ac85;
		justify-content: space-evenly;
		margin: 0;
		align-items: center;
		flex-direction: column;
		width: 50px;
		box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	}
	
	.jumper {
		color: black;
		text-decoration: none;
	}
	
	#jump-about {
		position: absolute;
		top: -65px;
		left: 25px;
	}
	
	.logo-container{
		position: relative;
		width: 200px;
		left: 50px;
		height: 200px;
	}
	
	.box1 {
		position: absolute;
		width: 120px;
		height: 100px;
		background-color: #82ac85;
		z-index: 1;
		bottom: 150px;
		left: -35px;
	}
	
	.box2 {
		position: absolute;
		width: 120px;
		height: 100px;
		background-color: gray;
		z-index: 1;
		top: -15px;
		left: 10px;
	}
	
	.about-d {
		text-align: center;
		margin-top: 150px;
		z-index: 5;
	}
	
	.head-wrap {
		z-index: 3;
		position: relative;
	}
	
	.hea-p-flex {
		display: flex;
		flex-direction: row;
		text-align: center;
		margin: 30px 15px 30px 15px;
	}
	
	.hea-p-flex-end {
		display: flex;
		flex-direction: row-reverse;
		text-align: center;
		margin: 30px 15px 30px 15px
	}
	
	#jump-edu {
		right: 5px;
		bottom:	14.063rem;
	}
	
	.box3 {
		width: 120px;
		height: 110px;
		background-color: #82ac85;
		z-index: 1;
		position: relative;
		top: 10px;
		left: 30px;
	}
	
	.box4 {
		width: 120px;
		height: 110px;
		background-color: gray;
		z-index: 2;
		position: relative;
		bottom: 65px;
		right: 1px;
	}
	
	.about-d-2 {
		text-align: center;
		margin-top: 150px;
		z-index: 5;
	}
	
	h3 {
		font-size: 23px;
	}
	
	h6 {
		font-size: 20px;
		color: gray;
		margin: 25px 0px 25px 0px;
	}
	
	.exp-img-wrap{
		display: flex;
		justify-content: center;
	}
	
	.exp-img {
		border: 5px solid gray;
		width: 100px;
		height: 100px;
	}
	
	.about-d-3{
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-top: 50px;
		z-index: 5;
	}
	
	#jump-exp{
		right: 15px;
		bottom:	14.063rem;
	}
	
	#jump-med {
		bottom: -15px;
		left: 90px;
	}
	
	.box5{
		position: absolute;
		width: 120px;
		height: 100px;
		background-color: gray;
		z-index: 2;
		bottom: 35px;
		left: 60px;
	}

	.box6{
		position: absolute;
		width: 120px;
		height: 100px;
		background-color: #82ac85;
		z-index: 1;
		bottom: 70px;
		left: 25px;
	}
	
	.med-icon{
		display: flex;
		flex-direction: row;
	}
	
	.med-icon:hover{
		cursor: pointer;
	}
	
	.med-img{
		margin: 10px;
		width: 50px;
		height: 50px;
	}
	
	.about-d-4 {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 250px;
		margin-right: 50px; 
		margin-top: 20px;
		z-index: 5;
	}
	.media-div{
		display: flex;
		justify-content: center;
	}
	
	
	/* ------------------- Recommendation Div --------------------- */
	
	.recom-wrap{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.recom-card{
		margin: 50px;
		width: 315px;
		height: 425px;
		background-color: #f6f6eb;
		box-shadow: 20px 20px 50px grey;
	}
	
	.recom-card * {
		display: flex;
		justify-content: center;
		margin: 15px 10px 5px 15px;
		text-align: center;
	}
	
	.recom-img{
		border-radius: 50%;
	}
	
	.recom-work{
		width: 50px;
		height: 50px;
		position: relative;
	}

	.recom-txt{
		font-size: 17px;
	}	
	
	.recom-img{
		width: 80px;
		height: 100px;
	}
	
	.recom-card:hover{
		transition: .5s;
		box-shadow: 20px 20px 50px 15px grey;
	}
	
	
	/* -------------------Skill Bar---------------- */
	
	.skill-wrapper {
		margin: 50px 5px 50px 5px;
	}
	
	.skills {
		height: 14px;
		border-radius: 20px;
	}
	
	.skill-back {
		height: 14px;
		background-color: #f6f6eb;
		border-radius: 20px;
	}
	
	.javas {
		width: 65%;
		background-color: #bfd1d0;
	}
	
	.s-css {
		width: 80%;
		background-color: #c2a2c2;
	}
	
	.node {
		width: 40%;
		background-color: #a4d4dc;
	}
	
	.jquery {
		width: 60%;
		background-color: #f5d5cb;
	}
	
	.react {
		width: 80%;
		background-color: #f3f3ab;
	}
	
	/* -------------------------------------------- */
	
	
	.download-wrap{
		margin: 150px 5px 15px 130px;
		display: flex;
		justify-content: center;
	}
	
	.download-txt{
		margin-left: 120px;
		display: flex;
		justify-content: center;
	}
	
	
	/* Footer */
	
	footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	footer img {
		margin: 15px 0px 0px 40px;
	}
	
	.foot-lnk {
		margin: 50px 100px 0px 5px;
	}
}