.header {
    display: flex;
    justify-content: center;
    margin: 0px 15px 5px 5px;
}

.header-text {
    font-size: 30px;
}

section {
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.cont {
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    background-color: #b6afac;
    border-radius: 8px;
}

.message {
    margin-bottom: 15px;
}

.form {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form input,
form textarea {
    width: 97%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid black;
    margin-top: 4px;
}

section .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.left {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
    transition: .2s;
}

.textarea {
    resize: vertical;
}

.inboxbutton {
    width: 100%;
    border: none;
    padding: 20px;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    touch-action: manipulation;
}

.inboxbutton:hover {
    color: green;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 9px;
    margin: px auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Footer */

footer {
    margin-top: 100px;
}


@media only screen and (max-width: 600px) {

    .header {
        display: flex;
        justify-content: center;
        margin: 0px 15px 5px 5px;
    }

    .header-text {
        font-size: 30px;
    }

    section {
        width: 100%;
        display: flex;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
    }

    .cont {
        width: 80%;
        max-width: 500px;
        padding: 20px;
        box-shadow: 0px 0px 20px black;
        background-color: #b6afac;
        border-radius: 8px;
    }

    .message {
        margin-bottom: 15px;
    }

    .form {
        width: 100%;
        margin-top: 20px;
        font-size: 20px;
    }

    .form input,
    form textarea {
        width: 97%;
        padding: 5px;
        font-size: 18px;
        border: 1px solid black;
        margin-top: 4px;
    }

    section .right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    .left {
        font-size: 30px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: white;
        transition: .2s;
    }

    .textarea {
        resize: vertical;
    }

    .inboxbutton {
        width: 100%;
        border: none;
        padding: 20px;
        outline: none;
        font-size: 24px;
        border-radius: 8px;
        margin-top: 10px;
        text-align: center;
        cursor: pointer;
        transition: 1s;
        touch-action: manipulation;
    }

    .inboxbutton:hover {
        color: green;
    }

    #status {
        width: 90%;
        max-width: 500px;
        text-align: center;
        padding: 9px;
        margin: 15px auto;
        border-radius: 8px;
        margin-top: 10px;
    }

    /* Footer */

    footer{
        height: 120px;
    }
    
}