body{
    background-color: #a9c7ac;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 113px;
    background-color: white;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.lnd-link{
    word-spacing: 85px;
    margin-right: 50px;
    color: #a9c7ac;
}

.lnd-link:hover{
   color: #82ac85;
}

#lnd-image{
    width: 300px;
    height: 310px;
    border-style: solid;
    border-color: #82ac85;
    border-width: 5px;
}

.main-content{
    margin: 130px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    text-align: center;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#logo-image{
    width: 300px;
    height: 113px;
}

.second-content{
  margin: 50px 15px 50px 15px;
  font-size: 25px;
  text-align: center;
}

.animation{
    width: 450px;
    height: 490px;
    border-style: solid;
    border-color: #82ac85;
    border-width: 5px;
}


#ghost-wrapper{
    animation: ghost 3s linear infinite;
}

@keyframes plant { 

}

/* ---------- left animation --------- */

.r-ani{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
    
    -webkit-animation: fadeInLeft 2s both;
    -moz-animation: fadeInLeft 2s both;
    -o-animation: fadeInLeft 2s both;
    animation: fadeInLeft 2s both;
}

@-webkit-keyframes fadeInLeft { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes fadeInLeft { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-o-keyframes fadeInLeft { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@keyframes fadeInLeft { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(-500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

/* ------------------------------------*/


/* ---------- right animation --------- */

#ghost-wrapper{
    background-color: antiquewhite;
}

.l-ani{
    display: flex;
    justify-content: flex-end;

    -webkit-animation: fadeInRight 2s both;
    -moz-animation: fadeInRight 2s both;
    -o-animation: fadeInRight 2s both;
    animation: fadeInRight 2 both;
    animation: ghost 3s linear infinite;
}

@keyframes ghost { 
    0%{
        filter: hue-rotate(0deg)
    }
    100%{
        filter: hue-rotate(360deg)
    }
}


@-webkit-keyframes fadeInRight { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes fadeInRight { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-o-keyframes fadeInRight{ 
    0%{
        opacity: 0;
        -webkit-transform: translateX(500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@keyframes fadeInRight { 
    0%{
        opacity: 0;
        -webkit-transform: translateX(500px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

/* ----------------------------------- */


.animd{
 margin: 220px 50px 15px 30px;
}

.button-wrapper{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.button {
  background-color: #a9c7ac;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 100px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #82ac85;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

footer{
    height: 150px;
    background-color: white;
}

@media only screen and (max-width: 600px){

    body{
        background-color: #a9c7ac;
    }
    
    .navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 110px;
        width: 60vh;
        background-color: white;
    }
    
    #logo-image{
        width: 150px;
        height: 100px;
    }

    .lnd-link{
       display: flex;
       gap: 20px; 
        color: #a9c7ac;
    }
    
    .lnd-link:hover{
       color: #82ac85;
    }
    
    #lnd-image{
        width: 200px;
        height: 160px;
        border-style: solid;
        border-color: #82ac85;
        border-width: 5px;
    }

    .main-content{
        display: flex;
        justify-content: center;
        margin: 100px 0px 0px 0px;
        font-size: 12px;
        text-align: center;
    }
    
    .second-content{
      margin-left: 50px;
    }
    
    .animation{
        width: 150px;
        height: 150px;
    }
    
    .r-ani{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    
    .l-ani{
        display: flex;
        justify-content: flex-end
    }
    
    .animd{
     margin: 15px 20px 15px 20px; 
    }

    .button-wrapper{
        margin-top: 150px; 
        display: flex;
        justify-content: center;
    }
    
    .button {
      background-color: #a9c7ac;
      border: 1px solid #222222;
      border-radius: 8px;
      box-sizing: border-box;
      color: #222222;
      cursor: pointer;
      display: inline-block;
      font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 100px;
      outline: none;
      padding: 13px 23px;
      position: relative;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;
      transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
      user-select: none;
      -webkit-user-select: none;
      width: auto;
    }
    
    .button:focus-visible {
      box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
      transition: box-shadow .2s;
    }
    
    .button:active {
      background-color: #82ac85;
      border-color: #000000;
      transform: scale(.96);
    }
    
    .button:disabled {
      border-color: #DDDDDD;
      color: #DDDDDD;
      cursor: not-allowed;
      opacity: 1;
    }
    
    footer{
        height: 100px;
        background-color: white;
    }
    
}



